
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
  }
  
  .navbar {
    background-color: #333; /* Color de fondo de la barra de navegación */
    margin-top:auto; /* Asegura que la barra de navegación esté pegada al límite superior */
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2; /* Color del texto de los enlaces */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el mouse sobre un enlace */
    color: black; /* Cambia el color del texto al pasar el mouse sobre un enlace */
  }
  
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }