.Subir{
    margin-left: 2%;
    margin-top: 2%;
}

input{
    margin-left: 2%;
    margin-top: 2%;
    width: 40% !important;
}

input#desc{
    height: 100px !important;
}

label{
    margin-left: 2%;
    margin-top: 2%;
    width: 40%;
}

.SelectCategoria{
    margin-left: 2%;
    margin-top: 2%;
    width: 40%;
}