.Subir{
    margin-left: 2%;
    margin-top: 2%;
}


input#desc{

}

input#nombre{
    width: 20% !important;
}

input#nombre{
    width: 20% !important;
}

input#fechaDeCierre{
    width: 20% !important;
}


.SelectCategoria{
    margin-top: 2%;
    width: 40%;
}